@using BenivoNetwork.Common.Models

@model RegisterModel

@using (Html.BeginForm("Register", "Home", FormMethod.Post, new { id = "bn-form-register", @class = "border p-3 mt-3" }))
{
    @Html.HiddenFor(m => m.ReturnUrl, new { id = "RegisterReturnUrl" })
    <h2>Register</h2>
    if (!ViewData.ModelState.IsValid)
    {
        <div class="text-danger">
            @Html.ValidationSummary()
        </div>
    }
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "John" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(m => m.LastName)
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Doe" })
        </div>
    </div>
    <div class="form-group mb-1">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "name@example.com" })
    </div>
    <div class="form-group mb-2">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Type your very secret password!", id = "RegisterPassword" })
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success w-100" value="Join Us" />
    </div>
}
