@{
    ViewBag.Title = "Home";
}

<link href="~/Styles/index.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/index.js" type="text/javascript"></script>

<div class="row content">
    <div class="col-md-2">
        @Html.Partial("_Advertisement")
    </div>
    <div class="col-md-8">
        <h3>News Feed</h3>
        <div id="bn-post-input-wrapper" class="mb-2">
            <textarea class="form-control" placeholder="What's on you mind?"></textarea>
        </div>
        <div id="bn-posts">
            <div class="bn-post">
                <div class="bn-post-content">
                    <figure>
                        <blockquote class="blockquote">
                            <p>A well-known quote, contained in a blockquote element.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            By
                            <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                                <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                                <span>Lorem Ipsum</span>
                            </a>
                            on <cite>2021-09-21 00:43</cite>
                        </figcaption>
                    </figure>
                </div>
                <div class="bn-post-footer">
                    <span class="bn-like">
                        <span>Like </span><span>👍</span>
                    </span>
                    <span class="bn-like-count" title="User 1, User 2">45</span>
                    <!--title - dynamic-->
                    |
                    <span class="bn-comment-count">8 Comments</span>
                </div>
                <div class="bn-comments-wrapper">
                    <textarea class="form-control" placeholder="Your comment here..."></textarea>
                    <div class="bn-comments">
                        <div class="bn-comment">
                            <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                                <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                                <span>Lorem Ipsum</span>
                            </a>
                            <p class="mt-2">Mauris euismod eros at ipsum tincidunt volutpat. Praesent tempus ultrices ante a facilisis.</p>
                            <span class="bn-like bn-active">
                                <span>Like </span><span>👍</span>
                            </span>
                            <span class="bn-like-count" title="User 1, User 2">2</span>
                        </div>
                        <div class="bn-comment">
                            <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                                <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                                <span>Lorem Ipsum</span>
                            </a>
                            <p class="mt-2">Mauris euismod eros at ipsum tincidunt volutpat. Praesent tempus ultrices ante a facilisis.</p>
                            <span class="bn-like bn-active">
                                <span>Like </span><span>👍</span>
                            </span>
                            <span class="bn-like-count" title=""></span>
                        </div>
                        <div class="bn-comment">
                            <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                                <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                                <span>Lorem Ipsum</span>
                            </a>
                            <p class="mt-2">Mauris euismod eros at ipsum tincidunt volutpat. Praesent tempus ultrices ante a facilisis.</p>
                            <span class="bn-like">
                                <span>Like </span><span>👍</span>
                            </span>
                            <span class="bn-like-count" title=""></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--ADD load more link or load on scroll or both one by one-->
        </div>
    </div>
    <div class="col-md-2 sidenav">
        <h3>Friends</h3>
        <div id="bn-firends">
            <div class="bn-friend">
                <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic">
                    <span>Lorem Ipsum</span>
                </a>
                <span class="bn-online-status bn-online" title="20:08"></span>
                <!--20:08 - dynamic-->
                <div class="bn-profile-box">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                    <span>
                        <a href="@Url.Action("UserProfile", "Home", new { id = 1 })">Lorem Ipsum</a><br />
                        <span><b>Birthday:</b> 16/07/1990</span><br />
                        <span><b>Gender:</b> Male</span><br />
                        <!--Other -->
                    </span>
                </div>
            </div>
            <div class="bn-friend">
                <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic">
                    <span>Lorem Ipsum</span>
                </a>
                <span class="bn-online-status bn-online" title="20:07"></span>
                <!--20:07 - dynamic-->
                <div class="bn-profile-box">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                    <span>
                        <a href="@Url.Action("UserProfile", "Home", new { id = 1 })">Lorem Ipsum</a><br />
                        <span><b>Birthday:</b> 16/07/1990</span><br />
                        <span><b>Gender:</b> Male</span><br />
                        <!--Other -->
                    </span>
                </div>
            </div>
            <div class="bn-friend">
                <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic">
                    <span>Lorem Ipsum</span>
                </a>
                <span class="bn-online-status bn-offline" title="5 minutes ago"></span>
                <!--5 - dynamic-->
                <div class="bn-profile-box">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                    <span>
                        <a href="@Url.Action("UserProfile", "Home", new { id = 1 })">Lorem Ipsum</a><br />
                        <span><b>Birthday:</b> 16/07/1990</span><br />
                        <span><b>Gender:</b> Male</span><br />
                        <!--Other -->
                    </span>
                </div>
            </div>
            <div class="bn-friend">
                <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic">
                    <span>Lorem Ipsum</span>
                </a>
                <span class="bn-online-status bn-offline" title="8 minutes ago"></span>
                <!--8 - dynamic-->
                <div class="bn-profile-box">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                    <span>
                        <a href="@Url.Action("UserProfile", "Home", new { id = 1 })">Lorem Ipsum</a><br />
                        <span><b>Birthday:</b> 16/07/1990</span><br />
                        <span><b>Gender:</b> Male</span><br />
                        <!--Other -->
                    </span>
                </div>
            </div>
            <div class="bn-friend">
                <a href="@Url.Action("UserProfile", "Home", new { id = 1 })" class="bn-profile-link">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic">
                    <span>Lorem Ipsum</span>
                </a>
                <span class="bn-online-status bn-offline" title="14:10 dd.MM.yyyy"></span>
                <!--14:10 dd.MM.yyyy - dynamic-->
                <div class="bn-profile-box">
                    <img class="bn-profile-pic" src="~/Content/Images/user.png" alt="User Profile Pic" />
                    <span>
                        <a href="@Url.Action("UserProfile", "Home", new { id = 1 })">Lorem Ipsum</a><br />
                        <span><b>Birthday:</b> 16/07/1990</span><br />
                        <span><b>Gender:</b> Male</span><br />
                        <!--Other -->
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
