@using BenivoNetwork.Common.Models

@model IEnumerable<ConversationModel>

@{
    ViewBag.Title = "Messages";
}

<script type="text/javascript">
    let _messageURL = "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Message" })";
    let _messagesPartialURL = "@Url.Action("MessagesPartial", "Home")";
</script>

<link href="~/Styles/messages.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/messages.js" type="text/javascript"></script>

<div class="row content">
    <div class="col-md-3">
        <h3>People</h3>
        <div id="bn-profiles">
            @foreach (var conversation in Model)
            {
                var activeClass = conversation.IsSelected ? "bn-active" : string.Empty;
                <div class="bn-profile border p-2 mb-1 me-1 @activeClass" data-id="@conversation.User.ID">
                    <a href="@Url.Action("UserProfile", "Home", new { id = conversation.User.RouteID })" class="bn-profile-link" target="_blank">
                        <img class="bn-profile-pic" src="@conversation.User.ActualImageURL" alt="User Profile Pic">
                        <span>@conversation.User.FullName</span>
                    </a>
                    <br />
                    <span class="bn-message-preview">
                        @if (conversation.LastMessage != null)
                        {
                            var prefix = conversation.LastMessage.IsFromUser ? "<b>You: </b>" : string.Empty;
                            @Html.Raw($"{prefix}{conversation.LastMessage.Text}")
                        }
                    </span>
                </div>
            }
        </div>
    </div>
    <div class="col-md-9">
        <h3>Messages</h3>
        <div id="bn-messages">
            <h5>Click on conversation to bring up message.</h5>
        </div>
        <div id="bn-message-input-wrapper" class="mt-1 d-none">
            <textarea id="bn-message-text" class="form-control" placeholder="Your message here..."></textarea>
            <button id="bn-btn-send" class="btn btn-secondary" title="Send">➤</button>
        </div>
    </div>
</div>
